{% extends "base.html" %}

{% block content %}

<div class="invoice-page">

    <!-- ========================= -->
    <!-- BACK BUTTON -->
    <!-- ========================= -->

    <div class="invoice-topbar no-print">

        <button
            onclick="history.back()"
            class="back-btn">

            <i class="fas fa-arrow-left me-2"></i>

            Kembali

        </button>

    </div>

    <!-- ========================= -->
    <!-- RECEIPT COMPONENT -->
    <!-- ========================= -->

    {% include 'components/invoice_receipt.html' %}

</div>

{% endblock %}